{
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "chrome": "49",
          "ios": "10"
        }
      }
    ]
  ],
  "plugins": [
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "style": true
    //   },
    //   "antd"
    // ],
    [
      "import",
      { "libraryName": "antd-mobile", "libraryDirectory": "es/components", "style": false },
      "antd-mobile"
    ]
  ]
}
