.wrap {
  padding: 8px 0;
  background: #fff;
  border: 1px solid #e6e6e8;
  border-radius: 4px;
  box-shadow: 0 6px 16px -8px rgb(61 62 77 / 30%), 0 9px 28px 0 rgb(61 62 77 / 15%);

  .list-item {
    height: 40px;
    padding: 0 24px;
    cursor: pointer;

    &:hover {
      background: #f7f8fa;

      .list-item-name {
        color: #266dff;
      }
    }

    .list-item-icon {
      margin-right: 8px;
    }

    .list-item-name {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #3d3e4d;
    }
  }
}
