.LogoWrap {
  display: flex;
  width: 256px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #333840;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e9eaeb;

  > img {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
  }
}
