{
  "presets": ["react-app"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-object-rest-spread"]
    // [
    //   "import",
    //   {
    //     "libraryName": "antd"
    //     // "style": "true"
    //   }
    // ]
  ]
}
