$color-primary: #1476ff;
$color-danger: #faad14;
$color-error: #ff4d4f;
$color-success: #52c41a;
$color-black: rgb(51 56 64 / 80%);
$color-gray-02: rgb(102 113 128 / 20%);
$color-gray-05: rgb(102 113 128 / 50%);
$table-header-bg: #f5f7fa;
$wrapper-bg: #f0f2f5;
